<a class="nav-link active" href="/trail/{{id}}">


            <div class="card mb-3" style="max-width: 1000px">
                <div class="col-md-4"  style="max-width: 1000px" id="img_holder">
                </div>

                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{location}}</p>
                    <ul class="list-group list-group-flush">
                      <div id="zip" style="display: none;">{{zipcode}}</div>
                      <li class="list-group-item">
                        Current weather:
                        <span class="condition"> | </span>
                        <span class="temp"> | </span>
                        <span class="human"> | </span>
                        <span class="wind"> | </span>
                      </li>
                      <li class="list-group-item">
                        Difficulty: {{difficulty}}
                      </li>
                      <li class="list-group-item">Category: {{category}}</li>
                      <li class="list-group-item">
                        Best season to hike: {{season}}
                      </li>
                      <li class="list-group-item">
                       
                      </li>
                    </ul>
                  </div>
            </div>
          </div>
        </div>
        </a>
        
          {{!-- <b>{{user.name}}</b>|
          <a href="/trail/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}

<script src="/javascript/main.js"></script>