<div class="card" style="width: 18rem;">
  <img src="{{image_source}}" class="card-img-top" alt="{{ name }} image">
  <div class="card-body">
    <h5 class="card-title">{{ name }}</h5>
    <p class="card-text">{{ location }}</p>
    <p class="card-text">{{category}}</p>
    <p class="card-text">{{season}}</p>
    <p class="card-text">{{difficulty}}</p>
    <a href="/comment/{{id}}" class="btn btn-primary">Add comments</a>
  </div>
</div>