  <div class="card">
        <header class="card-header-trail-name">
      
              <div class="column">
                  <p class="trail-info"></p>
            <a href="/post/{{id}}"  class="trail-name">{{name}} </a></p>
            </div>
      
            <div class="column">
            <span class="trail-content"> </span>
            </div>
      
        </header>
      
          <div class="card-content">
              <div class="content-location">
                  {{location}}
              </div>
              <div class="content-zip">
                  {{zip}}
              </div>
              <div class="content-date">
                  {{date_been_there}}
              </div>
              <div class="content-category">
                  {{category}}
              </div>
              <div class="content-season">
                  {{season}}
              </div>
              <div class="content-difficulty">
                  {{difficulty}}
              </div>
                  <div class="content-userinfo">
                      <b>{{user.username}}</b> {{format_date created_date}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
                  </div>
      
          </div>
      
