<div class="card">
  <header class="card-header">

        <div class="column">
            <p class=""></p>
      <a href="/post/{{id}}"  class="">{{title}} </a></p>
      </div>

      <div class="column">
      <span class=""> </span>
      </div>

  </header>

    <div class="card-content">
        <div class="content has-text-justified">
            {{post_content}}
        </div>
            <div class="">
                <b>{{user.username}}</b> {{format_date created_date}} | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </div>

    </div>
