<a class="nav-link active" href="/trail/{{id}}">
      <div class="card">
        <div class="col">
          <div class="card-body text-center">


            <div class="card mb-3" style="max-width: 540px">
              <div class="row no-gutters">
                <div class="col-md-4" id="img_holder">
                </div>

                <div class="col-md-8">
                  <div class="card-body-winter">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{location}}</p>
                    <ul class="list-group list-group-flush">
                      <div id="zip" style="display: none;">{{zip}}</div>
                      <li class="list-group-item">
                        Current weather:
                        <span class="condition"> | </span>
                        <span class="temp"> | </span>
                        <span class="human"> | </span>
                        <span class="wind"> | </span>
                      </li>
                      <li class="list-group-item">
                        Difficulty: {{difficulty}}
                      </li>
                      <li class="list-group-item">Category: {{category}}</li>
                      <li class="list-group-item">
                        Best season to hike: {{season}}
                      </li>
                      <li class="list-group-item">
                        <form class="form-inline">

                        </form>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
        <div class="">
          <b>{{user.username}}</b> {{format_date created_date}} |
          <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>

   <script src="../../public/javascript/main.js"></script>
